.container {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.scroll {
    height: 270px;
    width: 450px;
    border: 1px solid black;
    overflow: scroll;
    margin: 10px auto 0;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar {width: 5px; height: 3px;}
.scroll::-webkit-scrollbar-button {background-color: #666; }
.scroll::-webkit-scrollbar-track {  background-color: #999;}
.scroll::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.scroll::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.scroll::-webkit-scrollbar-corner { background-color: #999;}
.scroll::-webkit-resizer { background-color: #666;}

.messages {
    border: 1px solid black;
    margin: 5px auto;
    width: 400px;
    padding: 0 10px;
}

.dateTime {
    text-align: right;
}

.send {
    width: 450px;
    margin: 10px auto;
}

.author,
.message,
.sendBtn {
    display: block;
    margin: 15px auto;
}

.author,
.message {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.message::-webkit-input-placeholder,
.author::-webkit-input-placeholder {
    padding-left: 10px;
}